.dealer_header{
    margin: 30px auto;
}


.dealer_headerMaker{
    margin: 0 auto;
    background: url(https://images.unsplash.com/photo-1524821787474-b8a136630c6d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d45e7c20c23d8269b311ea676093718a&auto=format&fit=crop&w=1950&q=80) no-repeat center;
    border-radius: 10px;
    box-shadow: 0px 0px 22px #000;
    font-size: 25px;
    width: 80%;
    


}


.dealer_headerMaker label{
    color: aqua
}




@media (min-width: 100px) {
    .dealer_headerMaker{
        display: flex;
        flex-direction: column;

        margin: 0 auto;
        background: url(https://images.unsplash.com/photo-1524821787474-b8a136630c6d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d45e7c20c23d8269b311ea676093718a&auto=format&fit=crop&w=1950&q=80) no-repeat center;
        border-radius: 10px;
        box-shadow: 0px 0px 22px #000;
        font-size: 20px;
        width: 80%;
    }

    .BageMarkerButton{
        
        
    }

}
