.dealer_header{
    margin: 30px auto;
}


.Card.dealer_headerMaker{
    display: flex;
    justify-content: center;
   
    border-radius: 10px;
    box-shadow: 0px 0px 22px #000;
    font-size: 25px;
    width: 80%;
    


}


.dealer_headerMaker label{
    color: aqua
}




@media (min-width: 100px) {
    .dealer_headerMaker{
        display: flex;
        flex-direction: column;

        margin: 0 auto;
       
        border-radius: 10px;
        box-shadow: 0px 0px 22px #000;
        font-size: 20px;
        width: 80%;
    }

    .pryy{
        margin: 0 auto
    }

}
