.dystrybution {
    margin: auto;
    color: white;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

@media (max-width: 500px) {
    .dystrybution h1 {
        font-size: 30px
    }
    .dystrybution h4 {
        font-size: 15px
    }
}