*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #2D4471;
  height: 100%;

}


@media (min-width: 100px) {

  .App{
    text-align: center;
    background-color: #2D4471;
  }
  
  .navigation{
    font-size: 20px;
  
   
  }

  .links{
    text-decoration: none;
    color: black;
  }
  
  
  .navigation ul{
  
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  padding-top: 40px;
  }

  .navigation li{
  
    background-color: #A2B3D5;
    border-radius: 10px;
    padding: 5px;
    }

    
.loggedIn{
  display: none
}
}