.map {
  height: 100px;
  width: 250px;
  justify-content: center;
}

.badgesMap .badgeListItem {
  display: flex;
}
.badgesMap .badgeListItem img {
  width: 10px;
  height: auto;
}
.badgesMap .badgeListItem .logo {
  display: flex;
  align-items: center;
  padding: 5px;
}

@media (min-width: 100px) {
  .leaflet-container {
    height: 250px;
    width: 100%;
    justify-content: center;
  }
}

@media (min-width: 600px) {
  .leaflet-container {
    height: 400px;
    width: 100%;
    justify-content: center;
  }
}

@media (min-width: 900px) {
  .leaflet-container {
    height: 600px;
    width: 100%;
    justify-content: center;
  }
}
