.Ficzer{
    max-width: 960px;
    height: 500px;
    padding: 20px;
    margin: 0px auto;
    background: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Ficzerbox{
    width: 250px;
    margin: 0px auto;
    height: 200px;
    background: rgb(126, 122, 114);
margin: 0px 10px;
transition: 2s;

}
.Ficzerbox:hover{
    transform: scale(1.4);
    background: #bdb5af;
    z-index: 2;
    box-shadow: 2px 2px 2px #000;
    
}