.AppIntro {
    position: fixed;
    display: flex;
    flex-direction: column;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: url(./223.jpg) center;
    background-size: 100% 100%;

    
}
.Ficzer {
    width: 100%;
    height: 100%;
   

    
    display: flex;
    
    align-items: center;
    cursor: zoom-in;
}


.Ficzerbox {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
    
    margin: 10px;
    
    background: url(https://images.unsplash.com/photo-1524821787474-b8a136630c6d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d45e7c20c23d8269b311ea676093718a&auto=format&fit=crop&w=1950&q=80) no-repeat center;

    transition: 2s ease-out;
    /* animacja pudełek */
    animation-duration: 3s ;
    animation-name: slidein;
    animation-iteration-count: 1;
    border-radius: 10px
  
}

@keyframes slidein {
    0%{
        margin-left: 100%;
        width: 100%;
    }

  

    100% {
        margin-left: 0;
        width: 100%;
    }
}



.Foto {
    margin-top: 3px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 22px rgb(44, 40, 40);

}
.Opis {
    width: 90%;
    height: 80%;
    margin: 2px;
 
    text-align: start;
   
    overflow: hidden;
}

.AppIntroButton{
    margin-block-end: 10px
}




.f1 {
    background: url("https://png.icons8.com/ios/100/000000/flex-biceps-filled.png") no-repeat center;
    background-size: 60%
}

.f2 {
    background: url("https://png.icons8.com/ios/100/000000/crossfit-filled.png") no-repeat center;
    background-size: 60%
}

.f3 {
    background: url("https://png.icons8.com/ios/100/000000/deadlift-filled.png") no-repeat center;
    background-size: 60%
}

.f4 {
    background: url("https://png.icons8.com/ios/100/000000/bench-press-filled.png") no-repeat center;
    background-size: 60%
}

.f5 {
    background: url("https://png.icons8.com/ios/100/000000/prenatal-yoga-filled.png") no-repeat center;
    background-size: 60%
}

/* .AppIntroButton {
    margin: 0 auto;
    margin-bottom: 80px;
} */


/* -------------------------------------------------------- */
@media (max-width: 400px) {
    .AppIntro {
        position: fixed;
        display: flex;
        flex-direction: column;
        
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background: url(./223.jpg) center;
        background-size: 100% 100%;
    
        
    }
    .Ficzer {
        width: 100%;
        height: 100%;
       

        
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: zoom-in;
    }

    .Ficzer .Ficzerbox:nth-child(odd){
        display: none
    }
    .Ficzerbox {
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
       
        
        box-shadow: 0px 0px 22px #000;
        margin: 10px;
        
        background: url(https://images.unsplash.com/photo-1524821787474-b8a136630c6d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d45e7c20c23d8269b311ea676093718a&auto=format&fit=crop&w=1950&q=80) no-repeat center;
    
        transition: 1s ease-out;
        /* animacja pudełek */
    }   


    
    .Foto {
        margin-top: 3px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-shadow: 0px 0px 22px rgb(44, 40, 40);

    }
    .Opis {
        width: 90%;
        height: 80%;
        margin: 2px;
     
        text-align: start;
       
        overflow: hidden;
    }
    
    .AppIntroButton{
        margin-block-end: 5px
    }
}
/* ---------------------------------------------------------------------------------- */
@media (max-width: 879px) {
    .AppIntro {
        position: fixed;
        display: flex;
        flex-direction: column;
        
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background: url(./223.jpg) center;
        background-size: 100% 100%;
    
        
    }
    .Ficzer {
        width: 100%;
        height: 100%;
       

        
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: zoom-in;
    }

    .Ficzer .Ficzerbox:nth-child(odd){
        display: none
    }
    .Ficzerbox {
        width: 90%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
       
        
        box-shadow: 0px 0px 22px #000;
        margin: 10px;
        
        background: url(https://images.unsplash.com/photo-1524821787474-b8a136630c6d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d45e7c20c23d8269b311ea676093718a&auto=format&fit=crop&w=1950&q=80) no-repeat center;
    
        transition: 1s ease-out;
        /* animacja pudełek */
       
    }


    
    .Foto {
        margin-top: 3px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-shadow: 0px 0px 22px rgb(44, 40, 40);

    }
    .Opis {
        width: 90%;
        height: 80%;
        margin: 2px;
     
        text-align: start;
       
        overflow: hidden;
    }
    
    .AppIntroButton{
        margin-block-end: 5px
    }
}

/* ---------------------------------------------------------------------------------- */


    
    