*{
    margin: 0;
    padding: 0;
}


@media (min-width: 100px) {
.dealer{
    width: 90%;
    margin: 0 auto;
}

.dealer_badges{
    margin: 20px;
}

h1{
  font-size: 22px;
}


.dealer_header{
    background: url(https://images.unsplash.com/photo-1524821787474-b8a136630c6d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d45e7c20c23d8269b311ea676093718a&auto=format&fit=crop&w=1950&q=80) no-repeat center;
    width: 100%;
    font-weight: bold;
    border-radius: 10px;
}
.dealer_avatar{
    margin: 10px;
  
}
.dealer_avatar img{
    margin: 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.dealer_description{
    text-align: left;
    color: gold;
    margin: 10px;
}
.dealer_map{
    width: 90%;
    margin: 20px auto;
    
}

}

@media (min-width: 600px) {
  
    .dealer_avatar img{
        margin: 10px;
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    .dealer{
   
        width: 80%;
        margin: 0 auto;
    }
    h1{
        font-size: 28px;
      }
      
    
    
    .dealer_header{
       
        width: 100%;
        font-size: 20px;
        padding: 7px;
        box-sizing: border-box;
    }
    .dealer_avatar{
        margin: 20px;
    }
    .dealer_description{
        margin: 25px;
    }

    .dealer_description p{
        font-size: 20px;
    }
    .dealer_map{
        width: 90%;
        margin: 30px auto;
        
    }
    
    }


    @media (min-width: 900px) {
  
        .dealer_avatar img{
            margin: 10px;
            border-radius: 50%;
            width: 230px;
            height: 230px;
        }
        
        h1{
            font-size: 40px;
          }
          
          .dealer{
   
            width: 80%;
            margin: 0 auto;
        }
        
        .dealer_header{
           
            width: 100%;
            font-size: 20px;
            padding: 7px;
            box-sizing: border-box;
        }
        .dealer_avatar{
            margin: 20px;
        }
        .dealer_description{
            margin: 25px;
        }
    
        .dealer_description p{
            font-size: 25px;
        }
        .dealer_map{
            width: 90%;
            margin: 30px auto;
            

        }
        
        }