*{
    margin: 0;
    padding: 0;
}

@media (min-width:100px){



.badgeView{

   
    width: 90%;
    margin: 0 auto;
    color: white;

}
.badgeView img{

    width: 40vw;
}
.badgeView p{
   
    padding: 10px;
}
.badgeView .color{
    background: url(https://images.unsplash.com/photo-1524821787474-b8a136630c6d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d45e7c20c23d8269b311ea676093718a&auto=format&fit=crop&w=1950&q=80) no-repeat center;
    border-radius: 10px;
    font-weight: bold;
}

.badgeView .linki{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.badgeView .linki:hover{
    color: white;
}
.moreInfo{
    text-align: left;
    color:white;
    
}

}

@media (min-width:600px){
    .badgeView img{

        width: 30vw;
    }
.badgeView p{
    font-size: 18px;
    padding: 15px;
}
}

@media (min-width:800px){
    .badgeView img{

        width: 20vw;
    }
.badgeView p{
    font-size: 25px;
    padding: 15px;
}
.badgeView{

    width: 60%;
    

}
.moreInfo{
   margin: 20px auto;
}
}