.counter{
    font-size: 25px;
    cursor: pointer;
}

.counter:hover{
    color: white;
}

.active{
    color: white;
}

.container_page_numbers{
    position: relative;
    display: flex;
   justify-content: space-around;
   width: 200px;
   margin: 0 auto;


}


  
  .caret{
      cursor: pointer;
  }
